@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts.css');

body {
    font-family: 'Roboto', sans-serif;
  }

p {
  font-family: 'Roboto', sans-serif;
    color:black;
}
h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.font-custom {
  font-family: 'Roboto', sans-serif;
}